.mask-group {
  display: flex;
  max-width: 246px;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .mask-group {
    max-width: 295px;
  }
}

@media screen and (max-width: 680px) {
  .mask-group {
    max-width: calc(100% - 2*20px);
  }
}

@media screen and (max-width: 540px) {
  .mask-group {
    padding-bottom: 25px;
  }
}
