.element__caption-like {
  width: 22px;
  height: 19px;
  align-self: center;
  background-color: #fff;
  border: none;
  background-image: url('../../../images/like.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s linear;
  display: block;
  margin-right: 5px;
}

.element__caption-like:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .element__caption-like {
    margin-right: 1px;
  }
}
