.add-button {
  display: flex;
  justify-content: end;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .add-button {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-content: start;
  }
}

@media screen and (max-width: 540px) {
  .add-button {
    width: 100%;
  }
}
