.mask-group__title {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 190px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .mask-group__title {
    max-width: 250px;
  }
}

@media screen and (max-width: 680px) {
  .mask-group__title {
    max-width: 190px;
  }
}

@media screen and (max-width: 540px) {
  .mask-group__title {
    max-width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .mask-group__title {
    max-width: 210px;
  }
}

