.popup__container_element_bio {
  max-width: calc(100% - 2*36px);
  max-height: 37px;
  border-radius: 0;
  box-shadow: none;
  position: static;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__container_element_bio:focus {
  outline-color: #7b88c8;
  border: 3px solid #7b88c8;
}

@media screen and (max-width: 540px) {
  .popup__container_element_bio {
    max-width: calc(100% - 2*22px);
  }
}
