.popup__container_element_close-button {
  background-color: rgba(0, 0, 0, 0);
  width: 32px;
  height: 32px;
  background-image: url(../../../../images/close-icon.svg);
  object-fit: contain;
  position: absolute;
  top: -40px;
  left: 438px;
  border: none;
  z-index: 2;
  border-radius: 0;
  transition: opacity 0.2s linear;
}

.popup__container_element_close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .popup__container_element_close-button {
    background-image: url(../../../../images/close-icon-mobile.svg);
    width: 20px;
    height: 20px;
    top: -36px;
    left: 262px;
  }
}
