.add-button__position {
  background-color: black;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  background-image: url('../../../images/plus.svg');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  transition: opacity 0.2s linear;
}

.add-button__position:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .add-button__position {
    width: 100%;
    background-size: 16px 16px;
  }
}
